/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #f2efeb;
}
header {
  background-color: #ff900e1a;
}

/********************
 Navbar Start Now 
 *********************/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
  height: 80px;
  margin: 0 auto;
  padding: 0px 25px;
  flex-wrap: wrap;
}
nav > ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

/******************* 
   Banner Section 
********************/
.banner-section {
  width: 100%;
  max-width: 1250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}
.banner-detalse {
  text-align: center;
  margin-top: 30px;
}

.banner-detalse {
  font-family: "Work Sans", sans-serif;
}
.banner-section h1 {
  margin-bottom: 16px;
}
.banner-section p {
  margin-bottom: 16px;
}
.btn-primery {
  width: 140px;
  height: 40px;
  margin-bottom: 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 0px 5px;
  font-weight: 600;
  font-size: 14px;
}
.banner-img > img {
  width: 100%;
  height: 700px;
  margin-bottom: 21px;
}

/*********************
    Features Section 
**********************/
.feature-section {
  display: flex;
  margin-top: 21px;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 50px;
  
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 50%;
  margin-left: 20px;
}
.feature-images > img {
  width: 280px;
  height: 280px;
  border-radius: 5px;
}
.feature-detailes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  width: 50%;
  margin-left: 21px;
  
}
.quick {
  color: #727272;
}
.feature {
  color: #ff900e;
}
.feature-detailes > h1 {
  margin-bottom: 21px;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
}
.feature-detailes > p {
  color: #727272;
  margin-bottom: 21px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
/********************
  Meddle Section
 ****************** */
.container {

  position: relative;
}
.meddle-section {
  width: 100%;
  max-width: 1250px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  
}
.meddle-detalse {
  width: 50%;
}
.meddle-img {
  width: 50%;
}

.top-detail > h1 {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  border-left: 5px solid#FF900E;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
}
.top-detail > p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 20px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  padding: 10px;
 
}
.card {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 550px;
  padding: 10px;
}

.card > h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 10px;
}
.pera,
.some-pera {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #727272;
}
.meddle-img > img {
  height: 100%;
}
.btn-div {
  position: absolute;
  width: 150px;
  height: 100px;
  background: #ff900e;
  border-radius: 8px;
  z-index: 50;
  text-align: center;
  left: 50%;
  bottom: -40px;
}
.btn-div h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
}
.btn-div-p{
  color: white;

}

/***************
  Some Facts 
 ***************/
.some-facts {
  margin: 200px 200px 50px;
}
.some-facts h1 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 53px;
  color: #131313;
}
.some-facts > p {
  margin-bottom: 30px;
}
/* Shop Section */
.shop-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1250px;
  height: 220px;
  margin: 0 auto;
  margin-bottom: 50px;
 
}
.shop-card {
  width: 200px;
  height: 200px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding-top: 25px;
}
.shop-card:hover{
  background-color: #FF900E;
}
.shop-card img {
  margin-bottom: 5px;
}
.shop-card h1 {
  margin-bottom: 5px;
}
/******************** 
  Services Section 
********************/
.services{
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 50px;
}
.service-detail{
  text-align: center;
}
.service-detail h1{
  text-align: center;
  margin: 21px 20px 21px;
  font-weight: 600;
  line-height: 26px;
}
.service-detail p{
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  font-size: 16px;

}
.service-cards{
  
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 1250px;
  margin-top: 40px;
  
}
.service-card{
  width: 250px;
  height: 300px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);

}
.service-card:hover{
  background-color: #f1be84;
}
.service-card > img{
  margin-top: 20px;
  border: none;
  border-radius: 50%;
  border:  2px solid salmon;
  padding: 5px;
  background-color: #ff900e;
}
.service-card > h3{
  margin-top: 20px;
  text-transform: uppercase;
 
}
.service-card > p{
  margin-top: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  font-size: 16px;
  padding: 0px 5px;

}


/********************
 Sponsor Section
 *******************/
.sponsor {
  text-align: center;
  margin-top: 80px;
}
.sponsor > h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 15px;
}
.sponsor > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-bottom: 40px;
}
/*************** 
Sponsor Logo  
****************/
.sponsor-logo {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1250px;
  /* height: auto; */
}
.sponsor-logo img {
  width: 110px;
  height: 28px;
}

footer {
  display: flex;
  width: 100%;
  max-width: 1250px;
  height: 70px;
  background-color: #f5e5d2;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
  
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}

/***********************
 Responsive For Mobile 
 ************************/
@media only screen and (max-width: 576px) {

/* Navbar Section */
nav{
  flex-direction: column;
  height: auto;
  margin-bottom: 20px;
}
nav h1{
  margin-top: 10px;
}
nav > ul {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
nav > ul > li{
  font-weight: bold;
  font-size: 18px;
}
.banner-detalse >.btn-primery{
margin-bottom: 40px;
}
.banner-img > img{
  height: 600px;
}

/* Feature Section  */
  .feature-section {
    flex-direction: column;
  }
  .feature-images {
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
    margin: 30px;
  }
  .feature-detailes {
    width: 100%;
    text-align: center;
  }
  .btn-primery {
    margin: 0 auto;
  }

  /* Meddle Section  */
  .meddle-section {
    flex-direction: column;
    height: auto;
  }
  .meddle-detalse {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
  

  .meddle-img {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .meddle-img > img{
    width: 100%;
  }
  .card{
    text-align: left;
    width: 100%;
    padding: 10px;
  }

  /* Some Facts */
  .some-facts{
    margin: 0;
    text-align: center;
    padding: 5px;
  }

  /* Shop Section */
  .shop-section{
    flex-direction: column;
    height: auto;
    gap: 15px;
  }
  .btn-div{
    display: none;
  }

  /* Service Section */
  .service-cards{
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  /* Sponsor Logo  */
  .sponsor-logo{
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  .sponsor-logo > img{
    width: 130px;
  }
}

/**********************
    Responsive End Now 
 **********************/